body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
#feature-page {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input {
  padding: 8px;
}
#feature-page .songs-list > div {
  padding: 8px;
  height: 10vmin;
  display: flex;
}
#feature-page div.songs-list {
  height: 100%;
}
div#playlist-info {
  padding: 20px;
  width: 40%;
}
div#playlist-info img {
  border-radius: 5%;
  width: 60%;
  display: block;
  margin: auto;
}
div#song-list {
  width: 40%;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav picture span {
  font-weight: bolder;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}
a {
  color: lightblue;
}
header,
footer {
  padding: 40px;
  background-color: rgb(80, 80, 80);
  color: white;
}
.playlist-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.song-title {
  font-weight: bolder;
}
.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
}
.like-section {
  position: absolute;
  bottom: 5px;
}

#edit-button{
  position:absolute;
  top:3%;
  right:2%;
}

.card-button{
  font-size: x-large;
  padding: 5px;
  border-radius: 20%;
  background-color: lightgray;
  color: black;
  transition-duration: 500ms;
  margin-right: 5x;
  outline: none;
  border: none;
}
.like-button{
    margin-right: 10px;
}
.like-button.liked {
  background-color: rgb(255, 150, 140);
}
.card-button:hover {
  box-shadow: 6px 6px;
}
.playlist-card {
  margin: 1% 1%;
  padding: 15px;
  padding-bottom: 5px;
  border-radius: 5%;
  cursor: pointer;
  color: black;
  position: relative;
  display: block;
  box-shadow: 0px 0px;
  transition-duration: 500ms;
  outline: 8px solid gray;
  width: 240px;
  height: 320px;
  margin: 15px;
}
.playlist-card h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.playlist-card p:not(.like-section, .delete-button) {
  margin-top: 5px;
  margin-bottom: 15px;
}
.playlist-card:hover {
  box-shadow: 18px 18px;
}
select {
  padding: 8px;
}
.playlist-card:hover img {
  outline: 5px solid gray;
}
.playlist-card img {
  width: 80%;
  aspect-ratio: 1 / 1;
  display: block;
  margin: auto;
  object-fit: cover;
  outline: none;
  border-radius: 5%;
  transition-duration: 500ms;
}
.playlist-like-counter {
  position: relative;
  bottom: 0px;
}
.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(100, 100, 100, 0.8);
  cursor: pointer;
  display: non;
  justify-content: center;
  align-items: center;
}
.modal-content {
  position: relative;
  background-color: white;
  width: 90vmin;
  border-radius: 5%;
  aspect-ratio: 1 / 1;
  cursor: default;
}
#playlist-name {
  font-size: larger;
}
button:not(.card-button) {
  padding: 12px;
  background-color: rgb(150, 180, 200);
  color: white;
  border-radius: 5%;
  outline: none;
  border: none;
  transition: background-color 500ms;
}
button:hover:not(.card-button) {
  background-color: lightblue;
}
.songs-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  overflow: scroll;
  border-radius: 3%;
  background-color: rgb(240, 240, 240);
  margin: 0% 2%;
}
.songs-list > div {
  position:relative;
  padding: 8px;
  height: 25%;
  width: 95%;
  display: flex;
}
.song-right-section {
  font-family: monospace;
  display: flex;
  padding: 40px;
  margin-left: auto;
  align-items: center;
}
.songs-list div p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.songs-list div img {
  height: 100%;
  border: 5%;
  border-radius: 8%;
  margin-right: 12px;
}
.playlist-info {
  height: 45%;
  padding: 10px;
}
.playlist-info img {
  height: 100%;
  border-radius: 8%;
  float: left;
  margin-right: 12px;
}

@media only screen and (max-width: 1000px) {
  .playlist-card {
    width: 210px;
    height: 280px;
  }
}
@media only screen and (max-width: 800px) {
  .playlist-card {
    width: 180px;
    height: 240px;
  }
  .song-right-section {
    padding: 20px;
  }

  .songs-list div {
    padding: 8px;
    height: 40%;
  }
}
@media only screen and (max-width: 500px) {
  .playlist-card {
    width: 150px;
    height: 200px;
    padding: 3px;
  }
  .like-section {
    position: absolute;
    bottom: 0px;
    margin-bottom: 8px;
  }
  p {
    font-size: 10px;
  }
  h3 {
    font-size: 13px;
  }
}
@media only screen and (max-width: 400px) {
  p {
    font-size: 10px;
  }
  .song-right-section {
    padding: 10px;
  }
}
