body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
header,
footer {
  padding: 40px;
  background-color: rgb(80, 80, 80);
  color: white;
}
.playlist-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.song-title {
  font-weight: bolder;
}
.playlist-card {
  width: 12%;
  margin: 1% 1%;
  aspect-ratio: 2 / 1;
  padding: 15px;
  border-radius: 5%;
  cursor: pointer;
  color: black;
  box-shadow: 0px 0px;
  transition-duration: 500ms;
  outline: 8px solid gray;
}
.playlist-card:hover {
  box-shadow: 18px 18px;
}
select{
    padding: 8px;
}
.playlist-card:hover img {
  outline: 5px solid gray;
}
.playlist-card img {
  width: 80%;
  aspect-ratio: 1 / 1;
  display: block;
  margin: auto;
  object-fit: cover;
  outline: none;
  border-radius: 5%;
  transition-duration: 500ms;
}
.playlist-like-counter{
    position:relative;
    bottom:0px;
}
.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(100, 100, 100, 0.8);
  cursor: pointer;
  display: non;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: white;
  width: 90vmin;
  border-radius: 5%;
  aspect-ratio: 1 / 1;
  cursor: default;
}
#playlist-name {
  font-size: larger;
}
button {
  padding: 12px;
  background-color: rgb(80, 80, 200);
  color: white;
  border-radius: 5%;
  outline: none;
  border: none;
  transition: background-color 500ms;
}
button:hover {
  background-color: rgb(150, 150, 255);
}
.songs-list {
  display: flex;
  flex-direction: column;
  height: 50%;
  overflow: scroll;
  border-radius: 3%;
  background-color: rgb(240, 240, 240);
  margin: 0% 2%;
}
.songs-list > div {
  padding: 8px;
  height: 25%;
  display: flex;
}
.song-right-section{
    font-family: monospace;
    display: flex;
    padding: 40px;
    margin-left:auto;
    align-items: center;
}
.songs-list div p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.songs-list div img {
  height: 100%;
  border: 5%;
  border-radius: 8%;
  margin-right: 12px;
}
.playlist-info {
  height: 45%;
  padding: 10px;
}
.playlist-info img {
  height: 100%;
  border-radius: 8%;
  float: left;
  margin-right: 12px;
}

@media only screen and (max-width: 1000px) {
  .playlist-card {
    width: 15%;
  }
}
@media only screen and (max-width: 600px) {
  .playlist-card {
    width: 18%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 12px 12px;
  }
.song-right-section{
    padding:20px
}

  .songs-list div {
    padding: 8px;
    height: 40%;
  }
}
@media only screen and (max-width: 450px) {
  .playlist-card {
    width: 30%;
  }
  p {
    font-size: small;
  }
}
@media only screen and (max-width: 400px) {
  p {
    font-size: 10px;
  }
.song-right-section{
    padding:10px
}

}
